body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexiball-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10% ;
}
.half-width img{
    width: 80%;
}
.link-button{
   
    background-image: linear-gradient(orange, tomato);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-size:700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.drim-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.levelcolor{
    color: darkgoldenrod;
}
.Exprinces-area{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.exprincess{
    width: 50%;
    padding-top: 15px;
    margin-right: 5%;
    margin-left: 4%;
    border-radius: 10px;
    box-shadow: 10px 30px 30px chartreuse;
}
#font-end{
    border-left: 10px solid;
    border-image: linear-gradient(red, green);
    border-image-slice: 1;

}
#back-end{
    border-left: 10px solid;
    border-image: linear-gradient(orange,blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: red;
}
